apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: accounts
  name: accounts
spec:
  replicas: 3
  selector:
    matchLabels:
      app: accounts
  strategy: {}
  template:
    metadata:
      labels:
        app: accounts
    spec:
      containers:
      - image: us.icr.io/sn-labs-svanbuggenum/accounts:1
        name: accounts
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}

        env:
          # Env vars needed for accesing postgres database.
          # 'oc describe secret <...>' used to get data / key names.
          - name: DATABASE_HOST
            value: postgresql
          - name: DATABASE_NAME
            valueFrom:
              secretKeyRef:
                name: postgresql
                key: database-name
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql
                key: database-password
          - name: DATABASE_USER
            valueFrom:
              secretKeyRef:
                name: postgresql
                key: database-user
status: {}
